/* ul li{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid;
    height: 100px;
    padding-left: 10px;
    margin-left: 20px;
} */

*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 79, 132);
    color: white;
    padding: 20px 30px;
}

.brand{
    font-size: 17px;
}
.list-menu{
    display: flex;
    gap: 15px;
}

.list-menu > li{
    list-style: none;
}

.list-menu > li > a{
    text-decoration: none;  
    color: white;
}
.list-menu > li > a:hover{
    color: red;
    text-decoration: underline;
    text-overflow: ellipsis; color: burlywood;
}

.contact{
    background-color: rgb(255, 0, 0);
    padding: 2px 10px;
    width: 50px;
    border-radius: 50px;
}

/* ul li{
    float: left;
} */